<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header}"></head>

<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Dashboard</a></li>
        <li><a th:href="@{/menu}">Manage Menu</a></li>
        <li><a th:href="@{/inventory}">Manage Inventory</a></li>
        <li><a th:href="@{/order}">Manage Orders</a></li>
        <li><a th:href="@{/reviews}">Reviews</a></li>
        <li th:if="${#authentication.name == 'anonymousUser'}">
            <a th:href="@{/login}">Login</a>
        </li>
        <li class="username" th:if="${#authentication.name != 'anonymousUser'}">
            Welcome, <span th:text="${#authentication.principal.username}">User</span>
            (<span th:text="${#authentication.authorities[0].authority.replace('ROLE_', '')}">Role</span>) |
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>

    <header>
        <h1>Order Management</h1>
        <a class="button" th:href="@{/createOrder}">Create New Order</a>
    </header>

    <main>
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th>Status</th>
                    <th>Order Date</th>
                    <th>Total Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="order : ${orderList}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.inventoryItem.name}"></td>
                    <td th:text="${order.quantityToOrder}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.orderDate}"></td>
                    <td th:text="${#numbers.formatDecimal(order.totalCost, 2, 2)}"></td>
                    <td>
                        <a class="button" th:href="@{'/editOrder/' + ${order.id}}">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </main>

    <div th:replace="~{fragments/footer :: footer}"></div>
</body>

</html>
