<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/}">Dashboard</a></li>
        <li><a th:href="@{/menu}">Manage Menu</a></li>
        <li><a th:href="@{/inventory}">Manage Inventory</a></li>
        <li><a th:href="@{/order}">Manage Orders</a></li>
        <li><a th:href="@{/reviews}">Reviews</a></li>
        <li th:if="${#authentication.name == 'anonymousUser'}">
            <a th:href="@{/login}">Login</a>
        </li>
        <li class="username" th:if="${#authentication.name != 'anonymousUser'}">
            Welcome, <span th:text="${#authentication.principal.username}">User</span>
            (<span th:text="${#authentication.authorities[0].authority.replace('ROLE_', '')}">Role</span>) |
            <a th:href="@{/logout}">Logout</a>
        </li>
    </ul>
</nav>
    <header>
        <h1>Reviews</h1>
    </header>
    <main>
        <table>
            <thead>
            <tr>
                <th>Author</th>
                <th>Rating</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="review : ${reviews}">
                <td th:text="${review.getAuthor()}"></td>
                <td th:text="${review.getRating()}"></td>
                <td th:if="${review.getDescription() != ''}" th:text="${review.getDescription()}"></td>
                <td th:if="${review.getDescription() == ''}" th:text="'No description provided for this review'" id="no-desc-review"></td>
            </tr>
            </tbody>
        </table>
    </main>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>